@font-face {
  font-family: 'Woodford Bourne';
  src: url(../fonts/woodfordbourne-regular.otf);
  font-weight: normal; }
@font-face {
  font-family: 'Woodford Bourne';
  src: url(../fonts/woodfordbourne-bold.otf);
  font-weight: bold; }
@font-face {
  font-family: 'Woodford Bourne';
  src: url(../fonts/woodfordbourne-regular.otf);
  font-weight: italic; }
@font-face {
  font-family: 'Zilla Slab';
  src: url("../fonts/zilla/woff/ZillaSlab-Regular.woff");
  src: url("../fonts/zilla/woff2/ZillaSlab-Regular.woff2") format("woff2"), url("../fonts/zilla/woff/ZillaSlab-Regular.woff") format("woff"), url("../fonts/zilla/otf/ZillaSlab(-Regular).otf") format("opentype"), url("../fonts/zilla/ttf/ZillaSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Zilla Slab';
  src: url("../fonts/zilla/woff/ZillaSlab-SemiBold.woff");
  src: url("../fonts/zilla/woff2/ZillaSlab-SemiBold.woff2") format("woff2"), url("../fonts/zilla/woff/ZillaSlab-SemiBold.woff") format("woff"), url("../fonts/zilla/otf/ZillaSlab(-SemiBold).otf") format("opentype"), url("../fonts/zilla/ttf/ZillaSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
html, body,
p,
ol, ul, li, dl, dt, dd,
blockquote, figure,
hr,
h1, h2, h3 {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

html {
  box-sizing: border-box;
  font-size: 10px; }

body {
  line-height: 1;
  font-family: "Woodford Bourne", "Futura", "Helvetica", "Arial", sans-serif; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  height: auto;
  max-width: 100%; }

.font-secondary {
  font-family: "Zilla Slab", "Adelle", "Georgia", serif; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F0F0F0;
  margin: 1em 0;
  padding: 0; }

::-moz-selection {
  background: #ff6161;
  color: #1c1a19; }

::selection {
  background: #ff6161;
  color: #1c1a19; }

.home header {
  opacity: 0;
  animation: onLoadFadeIn 3s forwards;
  animation-delay: 1.7s; }
  .home header h1 a,
  .home header span.menu-control-open {
    color: #F0F0F0; }
  .home header span.menu-control-open svg {
    stroke: #F0F0F0; }
  .home header span.menu-control-open:before, .home header span.menu-control-open:after {
    border-top-color: wheat; }

.about header h1 a {
  color: #a7a7a7; }
.about header nav a {
  color: #F0F0F0; }
.about header span.menu-control-open svg {
  stroke: #F57F3F; }
.about header span.menu-control-open:before, .about header span.menu-control-open:after {
  border-top-color: #F57F3F; }
.about header .menu-inner {
  color: #F0F0F0; }

@media screen and (min-width: 640px) {
  .about header nav a {
    color: #a7a7a7; } }
header {
  position: absolute;
  overflow: visible;
  z-index: 100;
  background-color: transparent;
  width: 100%;
  height: 5rem;
  padding: 1.5rem; }
  header h1 {
    position: relative;
    z-index: 1;
    font-size: 3rem;
    float: left; }
  header a {
    text-decoration: none; }

span.menu-control-open,
span.menu-control-close,
nav,
header a {
  font-weight: bold;
  text-transform: uppercase; }

span.menu-control-open,
span.menu-control-close,
nav a {
  font-size: 2.5rem;
  margin-bottom: 1.5rem; }

span.menu-control-close {
  color: #F0F0F0; }

span.menu-control-open,
span.menu-control-close {
  display: block;
  cursor: pointer; }

span.menu-control-open {
  position: relative;
  float: right;
  font-size: 1.2rem;
  line-height: 130%;
  margin-top: 3px; }
  span.menu-control-open svg {
    position: absolute;
    top: -12px;
    left: 12px; }
    span.menu-control-open svg line, span.menu-control-open svg circle {
      fill: none;
      stroke-width: 3; }
  span.menu-control-open:before {
    padding-top: 1px; }
  span.menu-control-open:before, span.menu-control-open:after {
    content: '';
    display: block;
    width: 100%;
    border-top-width: .3rem;
    border-top-style: solid; }

span.menu-control-close {
  font-size: 1.2rem;
  text-align: right; }

nav {
  display: flex;
  flex-direction: column; }
  nav a {
    color: #F0F0F0; }

.menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #373331;
  color: #F0F0F0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  transition: all .3s ease-in-out; }
  .menu a {
    transform: translate3d(-150px, 0, 0);
    transition: transform .15s ease-in; }
  .menu .menu-inner {
    position: relative;
    height: 100%;
    width: 80vw;
    padding: 1.5rem; }
  .menu .version, .menu .madeIn {
    position: absolute;
    bottom: 1.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold; }
  .menu .version {
    right: 1.5rem; }

.menu--active {
  height: 100vh;
  overflow: hidden; }
  .menu--active nav a {
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease-out; }
    .menu--active nav a:nth-child(2) {
      transition-delay: .1s; }
    .menu--active nav a:last-child {
      transition-delay: .2s; }

@media screen and (max-width: 767px) {
  .menu--active .menu {
    width: 80%; } }
@media screen and (min-width: 768px) {
  span.menu-control-open,
  span.menu-control-close {
    display: none; }

  .menu {
    position: static;
    overflow: visible;
    background-color: transparent;
    width: auto;
    height: auto; }
    .menu .menu-inner {
      padding: 0;
      width: 100%; }
    .menu a {
      transform: none;
      transition: none; }

  .home .menu .version,
  .home .menu .madeIn {
    bottom: -85.85vh;
    letter-spacing: 1px;
    font-size: 1.3rem; }

  body:not(.home) .menu .version, body:not(.home) .menu .madeIn {
    display: none; }

  nav {
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end; }
    nav a {
      font-size: 3rem;
      margin-left: 4rem; }

  .about nav a {
    color: #4870CB; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu--active .menu {
    width: 40%; }
    .menu--active .menu .menu-inner {
      width: 40vw; } }

/*# sourceMappingURL=caseStudy.css.map */
