.home header {
  opacity: 0;
  animation: onLoadFadeIn 3s forwards;
  animation-delay: 1.7s; }
  .home header h1 a,
  .home header span.menu-control-open {
    color: #F0F0F0; }
  .home header span.menu-control-open svg {
    stroke: #F0F0F0; }
  .home header span.menu-control-open:before, .home header span.menu-control-open:after {
    border-top-color: wheat; }

.about header h1 a, .content header h1 a {
  color: #a7a7a7; }
.about header nav a, .content header nav a {
  color: #F0F0F0; }
.about header span.menu-control-open svg, .content header span.menu-control-open svg {
  stroke: #F57F3F; }
.about header span.menu-control-open:before, .about header span.menu-control-open:after, .content header span.menu-control-open:before, .content header span.menu-control-open:after {
  border-top-color: #F57F3F; }
.about header .menu-inner, .content header .menu-inner {
  color: #F0F0F0; }

@media screen and (min-width: 640px) {
  .about header nav a, .content header nav a {
    color: #a7a7a7; } }
header {
  position: absolute;
  overflow: visible;
  z-index: 100;
  background-color: transparent;
  width: 100%;
  height: 5rem;
  padding: 1.5rem; }
  header h1 {
    position: relative;
    z-index: 1;
    font-size: 3rem;
    float: left; }
  header a {
    text-decoration: none; }

span.menu-control-open,
span.menu-control-close,
nav,
header a {
  font-weight: bold;
  text-transform: uppercase; }

span.menu-control-open,
span.menu-control-close,
nav a {
  font-size: 2.5rem;
  margin-bottom: 1.5rem; }

span.menu-control-close {
  color: #F0F0F0; }

span.menu-control-open,
span.menu-control-close {
  display: block;
  cursor: pointer; }

span.menu-control-open {
  position: relative;
  float: right;
  font-size: 1.2rem;
  line-height: 130%;
  margin-top: 3px; }
  span.menu-control-open svg {
    position: absolute;
    top: -12px;
    left: 12px; }
    span.menu-control-open svg line, span.menu-control-open svg circle {
      fill: none;
      stroke-width: 3; }
  span.menu-control-open:before {
    padding-top: 1px; }
  span.menu-control-open:before, span.menu-control-open:after {
    content: '';
    display: block;
    width: 100%;
    border-top-width: .3rem;
    border-top-style: solid; }

span.menu-control-close {
  font-size: 1.2rem;
  text-align: right; }

nav {
  display: flex;
  flex-direction: column; }
  nav a {
    color: #F0F0F0; }

.menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #373331;
  color: #F0F0F0;
  height: 100vh;
  width: 0;
  overflow: hidden; }
  .menu a {
    transform: translate3d(-150px, 0, 0);
    transition: transform .15s ease-in; }
  .menu .menu-inner {
    position: relative;
    height: 100%;
    width: 80vw;
    padding: 1.5rem; }
  .menu .version, .menu .madeIn {
    position: absolute;
    bottom: 1.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold; }
  .menu .version {
    right: 1.5rem; }

.menu--active {
  height: 100vh;
  overflow: hidden; }
  .menu--active nav a {
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease-out; }
    .menu--active nav a:nth-child(2) {
      transition-delay: .1s; }
    .menu--active nav a:last-child {
      transition-delay: .2s; }

@media screen and (max-width: 767px) {
  .menu {
    transition: all .3s ease-in-out; }

  .menu--active .menu {
    width: 80%; } }
@media screen and (min-width: 768px) {
  header {
    height: 7rem;
    padding: 2.5rem; }

  span.menu-control-open,
  span.menu-control-close {
    display: none; }

  .menu {
    position: static;
    overflow: visible;
    background-color: transparent;
    width: auto;
    height: auto; }
    .menu .menu-inner {
      padding: 0;
      width: 100%; }
    .menu a {
      transform: none;
      transition: none; }

  .home .menu .version,
  .home .menu .madeIn {
    bottom: -85.85vh;
    letter-spacing: 1px;
    font-size: 1.3rem; }

  body:not(.home) .menu .version, body:not(.home) .menu .madeIn {
    display: none; }

  nav {
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end; }
    nav a {
      font-size: 3rem;
      margin-left: 4rem; }

  .about nav a, .content nav a {
    color: #4870CB; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu--active .menu {
    width: 40%; }
    .menu--active .menu .menu-inner {
      width: 40vw; } }
img.standard {
  margin: 2rem auto;
  display: block; }

.ids, .billboard img {
  filter: drop-shadow(0px 10px 15px #4e4e4e); }

.site-link-wrapper {
  display: block;
  width: 100%;
  text-align: center; }
  .site-link-wrapper a.site-link {
    font-family: "Woodford Bourne","Futura","Helvetica","Arial",sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #14B4B5;
    margin-top: 2.6rem;
    display: inline-block; }

.billboard {
  display: grid;
  grid-template-columns: 2fr 4fr 4fr 4fr 2fr;
  max-width: 1080px;
  margin: 4rem auto; }
  .billboard img.billboard-desktop {
    grid-column: 1 / span 5;
    grid-row: 1 / span 2;
    justify-self: center;
    max-width: 80%; }
  .billboard img.billboard-mobile {
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
    max-width: 50%; }

.content article h1.post-heading, .content article ul.meta {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 90%; }
.content article h1.post-heading {
  font-size: 3rem;
  line-height: 115%; }
  .content article h1.post-heading span {
    line-height: 145%;
    margin-top: .25rem; }
.content article ul.meta {
  font-size: 1.4rem; }
  .content article ul.meta li:after {
    margin-left: .45rem;
    margin-right: .45rem; }

@media screen and (min-width: 580px) {
  .content article ul.meta {
    font-size: 1.7rem; } }
@media screen and (min-width: 768px) {
  .content article h1.post-heading {
    font-size: 3.5rem; } }
@media screen and (min-width: 840px) {
  .content article h1.post-heading {
    font-size: 4.5rem;
    line-height: 135%; }
    .content article h1.post-heading span {
      line-height: 145%;
      margin-top: 0.5rem; }
  .content article ul {
    font-size: 1.4rem; } }
@media screen and (min-width: 1024px) {
  .content article h1.post-heading {
    font-size: 5.5rem; }
  .content article h1.post-heading, .content article ul.meta {
    max-width: 100rem; } }
h1 span {
  display: block;
  font-size: 65%;
  color: #14B4B5; }

.meta {
  display: block; }
  .meta li {
    color: #373331;
    display: inline-block; }
    .meta li:not(:last-child):after {
      content: '|';
      display: inline-block;
      margin-left: 1.5rem;
      margin-right: 1.5rem; }

.case-study article h2 {
  margin-top: 2rem; }

img.single-col-large {
  margin-bottom: 4rem; }

@media screen and (min-width: 500px) and (max-width: 1189px) {
  .billboard img.billboard-mobile {
    grid-row: 2 / span 1;
    grid-column: 4 / span 2;
    margin-top: 7rem; } }
@media screen and (min-width: 500px) {
  .case-study article h2 {
    margin-top: 4rem; } }
@media screen and (min-width: 1190px) {
  .billboard img.billboard-desktop {
    grid-column: 1 / span 9;
    grid-row: 1 / span 9;
    max-width: 100%; }
  .billboard img.billboard-mobile {
    grid-column: 4 / span 2;
    grid-row: 3 / span 14;
    justify-self: center; } }

/*# sourceMappingURL=caseStudy.css.map */
