/* Error: Missing argument $_breakpoint.
 *     ,
 * 423 | / @include breakpointBelow() {
 * 424 | |     .projectWrapper {
 * 425 | |         position: relative;
 * 426 | |         display: grid;
 * 427 | |         display: -ms-grid;
 * 428 | |         padding-top: 3.25rem;
 * 429 | |         &.longHeading {
 * 430 | |             padding-top: 6.25rem;
 * 431 | |         }
 * 432 | | 
 * 433 | |         .mobileProject {
 * 434 | |             -ms-grid-row: 1;
 * 435 | |             grid-row: 1;
 * 436 | |             width: 75%;
 * 437 | |             //padding: 14% 12% 10%;
 * 438 | |             margin-left: auto;
 * 439 | |             margin-right: auto;
 * 440 | |         }
 * 441 | | 
 * 442 | |         .browserProject {
 * 443 | |             align-self: flex-start;
 * 444 | |         }
 * 445 | |         .text { 
 * 446 | |             h2 {
 * 447 | |                 position: absolute;
 * 448 | |                 max-width: 90%;
 * 449 | |                 margin-top: 0;
 * 450 | |                 top: 1rem;
 * 451 | |                 left: 1rem;
 * 452 | |             }
 * 453 | |             div.block {
 * 454 | |                 text-align: center;
 * 455 | |             }
 * 456 | |         }
 * 457 | |     }
 * 458 | | 
 * 459 | |     .home main .projectWrapper.projectWrapper-imageFirst .text {
 * 460 | |         grid-row: 2;
 * 461 | |         margin-top: $margin_smallest;
 * 462 | |     }
 * 463 | | 
 * 464 | |     
 * 465 | \ }
 *     '
 *   sass\refactored_home.scss 423:1  breakpointBelow()
 *   sass\refactored_home.scss 423:1  @import
 *   sass\content.scss 176:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $_breakpoint.\a     \2577 \a 423 \2502  \250c  @include breakpointBelow() {\a 424 \2502  \2502      .projectWrapper {\a 425 \2502  \2502          position: relative;\a 426 \2502  \2502          display: grid;\a 427 \2502  \2502          display: -ms-grid;\a 428 \2502  \2502          padding-top: 3.25rem;\a 429 \2502  \2502          &.longHeading {\a 430 \2502  \2502              padding-top: 6.25rem;\a 431 \2502  \2502          }\a 432 \2502  \2502  \a 433 \2502  \2502          .mobileProject {\a 434 \2502  \2502              -ms-grid-row: 1;\a 435 \2502  \2502              grid-row: 1;\a 436 \2502  \2502              width: 75%;\a 437 \2502  \2502              //padding: 14% 12% 10%;\a 438 \2502  \2502              margin-left: auto;\a 439 \2502  \2502              margin-right: auto;\a 440 \2502  \2502          }\a 441 \2502  \2502  \a 442 \2502  \2502          .browserProject {\a 443 \2502  \2502              align-self: flex-start;\a 444 \2502  \2502          }\a 445 \2502  \2502          .text { \a 446 \2502  \2502              h2 {\a 447 \2502  \2502                  position: absolute;\a 448 \2502  \2502                  max-width: 90%;\a 449 \2502  \2502                  margin-top: 0;\a 450 \2502  \2502                  top: 1rem;\a 451 \2502  \2502                  left: 1rem;\a 452 \2502  \2502              }\a 453 \2502  \2502              div.block {\a 454 \2502  \2502                  text-align: center;\a 455 \2502  \2502              }\a 456 \2502  \2502          }\a 457 \2502  \2502      }\a 458 \2502  \2502  \a 459 \2502  \2502      .home main .projectWrapper.projectWrapper-imageFirst .text {\a 460 \2502  \2502          grid-row: 2;\a 461 \2502  \2502          margin-top: $margin_smallest;\a 462 \2502  \2502      }\a 463 \2502  \2502  \a 464 \2502  \2502      \a 465 \2502  \2514  }\a     \2575 \a   sass\\refactored_home.scss 423:1  breakpointBelow()\a   sass\\refactored_home.scss 423:1  @import\a   sass\\content.scss 176:9          root stylesheet";
}
