@font-face {
  font-family: 'Woodford Bourne';
  src: url(../fonts/woodfordbourne-regular.otf);
  font-weight: normal; }
@font-face {
  font-family: 'Woodford Bourne';
  src: url(../fonts/woodfordbourne-bold.otf);
  font-weight: bold; }
@font-face {
  font-family: 'Woodford Bourne';
  src: url(../fonts/woodfordbourne-regular.otf);
  font-weight: italic; }
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  font-size: 10px; }

body {
  line-height: 1;
  font-family: "Woodford Bourne", "Futura", "Helvetica", "Arial", sans-serif; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F0F0F0;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

::-moz-selection {
  background: #ff6060;
  color: #373331; }

::selection {
  background: #ff6060;
  color: #373331; }

body {
  letter-spacing: 0.03rem;
  width: 100%; }

.wrapper {
  overflow: hidden; }

.home {
  position: relative; }
  .home h1 {
    font-weight: bold;
    text-transform: uppercase; }
  .home p {
    font-size: 1.9rem;
    line-height: 150%;
    margin-bottom: 1.5rem; }
  .home main {
    background-color: #14B4B5;
    color: #F0F0F0;
    padding-top: 5rem; }
    .home main .intro {
      padding-left: 1.5rem;
      padding-right: 1.5rem; }
      .home main .intro img {
        display: block;
        width: 55%;
        margin: 0 auto 1.5rem; }

header {
  position: absolute;
  overflow: visible;
  background-color: transparent;
  width: 100%;
  height: 5rem;
  padding: 1.5rem; }
  header h1 {
    font-size: 2.2rem;
    float: left; }
  header a {
    text-decoration: none; }
  header span.menu-control-open,
  header span.menu-control-close,
  header nav,
  header a {
    font-weight: bold;
    text-transform: uppercase;
    color: #F0F0F0; }
  header span.menu-control-open,
  header span.menu-control-close,
  header nav a {
    font-size: 2.2rem;
    margin-bottom: 1.5rem; }
  header span.menu-control-open,
  header span.menu-control-close {
    display: block;
    cursor: pointer; }
  header span.menu-control-open {
    font-size: 1.2rem;
    line-height: 150%;
    float: right; }
  header span.menu-control-close {
    font-size: 1.2rem;
    text-align: right; }
  header nav {
    display: flex;
    flex-direction: column; }

.menu {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #373331;
  color: #F0F0F0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  transition: all .3s ease; }
  .menu .menu-inner {
    position: relative;
    height: 100%;
    width: 80vw;
    padding: 1.5rem; }
  .menu .version, .menu .madeIn {
    position: absolute;
    bottom: 1.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold; }
  .menu .version {
    right: 1.5rem; }

.menu--active {
  height: 100vh;
  overflow: hidden; }
  .menu--active .menu {
    width: 80%; }

.projectWrapper {
  min-height: 100vh;
  padding: 1.5rem; }
  .projectWrapper h2 {
    font-size: 2.2rem;
    line-height: 130%; }
  .projectWrapper h2, .projectWrapper .mobileProject {
    margin-bottom: 1.5rem; }
  .projectWrapper .mobileProject {
    display: flex;
    justify-content: center;
    background: url("../images/phone.svg") no-repeat center 0;
    width: 72vw;
    margin: 0 auto 1.5rem;
    padding: 10vh 4rem 7vh; }
    .projectWrapper .mobileProject picture {
      border: 2px solid #F0F0F0;
      overflow: hidden; }
    .projectWrapper .mobileProject img, .projectWrapper .mobileProject source {
      max-width: 100%; }
  .projectWrapper span {
    font-size: 1.2rem; }
    .projectWrapper span:last-of-type {
      float: right; }
  .projectWrapper.blue {
    background-color: #4870CB; }
  .projectWrapper.orange {
    background-color: #F57F3F; }

.scroll {
  position: relative;
  overflow: hidden;
  display: block;
  grid-column-start: 1;
  grid-column-end: col2-end;
  text-align: center;
  text-decoration: none;
  font-size: 4.4rem;
  color: #F0F0F0;
  width: auto;
  margin: 0 auto 1.5rem; }
  .scroll i {
    font-style: normal; }
  .scroll span {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); }

footer {
  background-color: #373331;
  color: #F0F0F0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.7rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem; }

@media screen and (min-width: 768px) {
  .menu--active .menu {
    width: 40%; }
    .menu--active .menu .menu-inner {
      width: 40vw; }

  .intro, .projectWrapper {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-gap: 5%;
    align-items: center;
    min-height: 50vh; }
    .intro .grid-p, .projectWrapper .grid-p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-column: 1;
      grid-row: 1; }
    .intro img, .projectWrapper img {
      grid-column: 2;
      grid-row: 1;
      width: 90%;
      margin-bottom: 0; }
    .intro.projectWrapper-imageFirst, .projectWrapper.projectWrapper-imageFirst {
      grid-template-columns: 45% 50%; }
      .intro.projectWrapper-imageFirst .grid-p, .projectWrapper.projectWrapper-imageFirst .grid-p {
        grid-column-start: 2; }
      .intro.projectWrapper-imageFirst .mobileProject, .projectWrapper.projectWrapper-imageFirst .mobileProject {
        width: auto; }
        .intro.projectWrapper-imageFirst .mobileProject picture, .projectWrapper.projectWrapper-imageFirst .mobileProject picture {
          width: 90%;
          height: auto; }
          .intro.projectWrapper-imageFirst .mobileProject picture img, .intro.projectWrapper-imageFirst .mobileProject picture source, .projectWrapper.projectWrapper-imageFirst .mobileProject picture img, .projectWrapper.projectWrapper-imageFirst .mobileProject picture source {
            width: 100%; }

  .home main {
    padding-top: 7rem; }
    .home main .intro, .home main .projectWrapper {
      padding-left: 6rem;
      padding-right: 5rem; }
    .home main .projectWrapper {
      padding-top: 4rem;
      padding-bottom: 4rem; }
      .home main .projectWrapper .grid-p span {
        display: block;
        margin-bottom: 2rem; }
        .home main .projectWrapper .grid-p span:first-of-type {
          margin-top: 4rem; }
        .home main .projectWrapper .grid-p span:last-of-type {
          float: none; }
      .home main .projectWrapper .mobileProject {
        padding: 7vh 0; } }
@media screen and (min-width: 1024px) {
  header span.menu-control-open,
  header span.menu-control-close {
    display: none; }
  header .menu {
    position: static;
    overflow: visible;
    background-color: transparent;
    width: auto;
    height: auto; }
    header .menu .menu-inner {
      padding: 0;
      width: 100%; }
    header .menu .version,
    header .menu .madeIn {
      bottom: -93vh;
      letter-spacing: 1px;
      font-size: 1.3rem; }
  header nav {
    flex-direction: row;
    justify-content: flex-end; }
    header nav a {
      margin-left: 4rem; }

  section {
    justify-content: center; }

  .intro, .projectWrapper {
    grid-template-columns: 56rem 50%;
    grid-template-rows: 1fr;
    grid-gap: 0; }

  .intro {
    min-height: 93vh; }

  .projectWrapper {
    min-height: 100vh; }
    .projectWrapper .mobileProject {
      padding: 10vh 4rem 7vh; }
    .projectWrapper.projectWrapper-imageFirst {
      grid-template-columns: 50% 56rem; }
    .projectWrapper span {
      font-size: 2rem; }

  .home h1, .home h2 {
    font-size: 2.65rem; }
  .home p {
    font-size: 2.65rem;
    line-height: 165%; } }

/*# sourceMappingURL=main.css.map */
