@font-face {
  font-family: 'Woodford Bourne';
  src: url(../fonts/woodfordbourne-regular.otf);
  font-weight: normal; }
@font-face {
  font-family: 'Woodford Bourne';
  src: url(../fonts/woodfordbourne-bold.otf);
  font-weight: bold; }
@font-face {
  font-family: 'Woodford Bourne';
  src: url(../fonts/woodfordbourne-regular.otf);
  font-weight: italic; }
@font-face {
  font-family: 'Zilla Slab';
  src: url("../fonts/zilla/woff/ZillaSlab-Regular.woff");
  src: url("../fonts/zilla/woff2/ZillaSlab-Regular.woff2") format("woff2"), url("../fonts/zilla/woff/ZillaSlab-Regular.woff") format("woff"), url("../fonts/zilla/otf/ZillaSlab(-Regular).otf") format("opentype"), url("../fonts/zilla/ttf/ZillaSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Zilla Slab';
  src: url("../fonts/zilla/woff/ZillaSlab-SemiBold.woff");
  src: url("../fonts/zilla/woff2/ZillaSlab-SemiBold.woff2") format("woff2"), url("../fonts/zilla/woff/ZillaSlab-SemiBold.woff") format("woff"), url("../fonts/zilla/otf/ZillaSlab(-SemiBold).otf") format("opentype"), url("../fonts/zilla/ttf/ZillaSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
html, body,
p,
ol, ul, li, dl, dt, dd,
blockquote, figure,
hr,
h1, h2, h3 {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

html {
  box-sizing: border-box;
  font-size: 10px; }

body {
  line-height: 1;
  font-family: "Woodford Bourne", "Futura", "Helvetica", "Arial", sans-serif; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  height: auto;
  max-width: 100%; }

.font-secondary {
  font-family: "Zilla Slab", "Adelle", "Georgia", serif; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F0F0F0;
  margin: 1em 0;
  padding: 0; }

::-moz-selection {
  background: #ff6161;
  color: #1c1a19; }

::selection {
  background: #ff6161;
  color: #1c1a19; }

body {
  position: relative;
  letter-spacing: 0.03rem;
  width: 100%; }

.wrapper {
  overflow: hidden; }

p, ul {
  font-size: 1.8rem;
  line-height: 175%;
  margin-bottom: 1.5rem; }

main {
  padding-top: 5rem; }

.home {
  position: relative; }
  .home h1 {
    font-weight: bold;
    text-transform: uppercase; }
  .home h2 {
    font-family: "Zilla Slab", "Adelle", "Georgia", serif; }
  .home main {
    background-color: #14B4B5;
    color: #F0F0F0; }
    .home main .intro {
      padding-left: 1.5rem;
      padding-right: 1.5rem; }
      .home main .intro img, .home main .intro div.grid-p {
        opacity: 0; }
      .home main .intro img {
        display: block;
        width: 65%;
        margin: 1rem auto 1.5rem; }
      .home main .intro div.grid-p {
        animation: onLoadFadeIn 3s forwards, onLoadMoveIn_txt 3s forwards;
        animation-delay: 1750ms; }

.home:not(.ac) main .intro img {
  animation: onLoadFadeIn 3s forwards, onLoadMoveIn_img_small 3s forwards; }

.home.ac main .intro img {
  opacity: 1; }

.dropcaps {
  margin-top: 3.2rem; }
  .dropcaps::first-letter {
    float: left;
    font-size: 7.01rem;
    font-weight: bold;
    color: #F57F3F;
    margin-top: 1.9rem;
    margin-right: 1rem; }

q {
  position: relative;
  display: block;
  font-family: "Zilla Slab", "Adelle", "Georgia", serif;
  font-size: 2.16rem;
  font-weight: bold;
  line-height: 150%;
  text-align: center;
  letter-spacing: 2px;
  color: #F57F3F;
  text-transform: uppercase;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 3px solid #F57F3F;
  border-bottom: 3px solid #F57F3F;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.about article, .case-study .copy {
  width: 90%;
  max-width: 76.5rem;
  margin: 2rem auto 5rem; }
  .about article h2, .about article h3, .about article p a, .case-study .copy h2, .case-study .copy h3, .case-study .copy p a {
    color: #4870CB; }
  .about article h2, .about article h3, .case-study .copy h2, .case-study .copy h3 {
    font-family: "Zilla Slab", "Adelle", "Georgia", serif;
    font-weight: normal;
    margin-bottom: 1.25rem;
    margin-top: 1rem; }
  .about article h2, .case-study .copy h2 {
    font-size: 2.8rem; }
  .about article h3, .case-study .copy h3 {
    font-size: 2.5rem; }
  .about article figure.figure--breakout, .case-study .copy figure.figure--breakout {
    min-width: 100%;
    margin-left: -4.7rem;
    margin-right: -4.7rem; }
  .about article p a, .case-study .copy p a {
    text-decoration: none;
    letter-spacing: 1px;
    border-bottom: 2px solid #4870CB; }
  .about article p, .about article ul.colour-list, .case-study .copy p, .case-study .copy ul.colour-list {
    color: #373331; }
  .about article .caption, .case-study .copy .caption {
    font-size: 1.4rem;
    line-height: 150%;
    text-align: center;
    font-style: italic;
    margin-top: 1rem; }

.about {
  background-color: #F0F0F0; }
  .about article h1 {
    font-family: "Woodford Bourne", "Futura", "Helvetica", "Arial", sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #14B4B5;
    margin-bottom: 2.6rem; }
  .about article img {
    display: block;
    border-radius: 5px;
    margin: 0 auto; }
  .about article ul.colours {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem; }
    .about article ul.colours li {
      list-style: none;
      height: 20px;
      width: 20px;
      border-radius: 50%; }
      .about article ul.colours li.primary-teal {
        background-color: #14B4B5; }
      .about article ul.colours li.primary-orange {
        background-color: #F57F3F; }
      .about article ul.colours li.primary-black {
        background-color: #373331; }
      .about article ul.colours li.primary-white {
        background-color: #F0F0F0;
        border: 1px solid #a7a7a7; }
      .about article ul.colours li.primary-grey {
        background-color: #a7a7a7; }
      .about article ul.colours li.tertiary-dull-blue {
        background-color: #4870CB; }
      .about article ul.colours li.tertiary-dull-yellow {
        background-color: #FFC247; }
      .about article ul.colours li.tertiary-dull-red {
        background-color: #FF4747; }
      .about article ul.colours li.tertiary-bright-blue {
        background-color: #16C1F3; }
      .about article ul.colours li.tertiary-bright-yellow {
        background-color: #FFB31C; }
      .about article ul.colours li.tertiary-bright-red {
        background-color: #FF1C1C; }

@media screen and (min-width: 640px) {
  .projectWrapper {
    min-height: 100vh; }
    .projectWrapper .browserProject {
      width: 80%; }

  q {
    font-size: 3.6rem; } }
.colour-list {
  list-style-type: none;
  margin-bottom: 5rem; }
  .colour-list li {
    padding-left: 0rem;
    text-indent: -.5px; }
    .colour-list li::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 4px;
      width: 4px;
      border-radius: 100%;
      margin-right: 1rem;
      margin-top: -4px; }
    .colour-list li.primary_teal::before {
      background-color: #14B4B5; }
    .colour-list li.primary_orange::before {
      background-color: #F57F3F; }
    .colour-list li.primary_black::before {
      background-color: #373331; }
    .colour-list li.tertiary_dull_blue::before {
      background-color: #4870CB; }
    .colour-list li.tertiary_bright_blue::before {
      background-color: #16C1F3; }
    .colour-list li.tertiary_bright_yellow::before {
      background-color: #FFB31C; }
    .colour-list li.tertiary_bright_red::before {
      background-color: #FF1C1C; }

.projectWrapper {
  padding: 1.5rem; }
  .projectWrapper h2 {
    font-size: 2.5rem;
    line-height: 130%; }
  .projectWrapper h2, .projectWrapper .mobileProject {
    margin-bottom: 1.5rem; }
  .projectWrapper .mobileProject, .projectWrapper .browserProject {
    -ms-grid-row-align: center; }
  .projectWrapper .mobileProject {
    display: flex;
    justify-content: center;
    background: url("../images/phone.svg") no-repeat center 0;
    width: 72vw;
    margin: 0 auto 1.5rem;
    padding: 10vh 4rem 7vh; }
    .projectWrapper .mobileProject picture {
      overflow: hidden; }
      .projectWrapper .mobileProject picture img {
        border: 2px solid #F0F0F0;
        border-radius: 2px; }
    .projectWrapper .mobileProject img, .projectWrapper .mobileProject source {
      max-width: 100%; }
  .projectWrapper .browserProject {
    position: relative;
    padding-top: 10px;
    border: 3px solid #F0F0F0;
    border-radius: 6px;
    margin: 0 auto; }
    .projectWrapper .browserProject .dots {
      margin-bottom: 10px; }
    .projectWrapper .browserProject .dot {
      display: inline-block;
      height: 12px;
      width: 12px;
      border-width: 3px;
      border-style: solid;
      border-radius: 50%;
      margin-left: 5px; }
      .projectWrapper .browserProject .dot:first-child {
        border-color: #FF1C1C; }
      .projectWrapper .browserProject .dot:nth-child(2) {
        border-color: #FFB31C; }
      .projectWrapper .browserProject .dot:last-child {
        border-color: #14B4B5; }
    .projectWrapper .browserProject picture {
      overflow: hidden; }
      .projectWrapper .browserProject picture img {
        vertical-align: middle;
        width: 100%;
        border-top: 3px solid #F0F0F0; }
  .projectWrapper span {
    font-size: 1.2rem; }
    .projectWrapper span:last-of-type {
      float: right; }
  .projectWrapper.blue {
    background-color: #4870CB; }
  .projectWrapper.orange {
    background-color: #F57F3F; }

.scroll {
  position: relative;
  overflow: hidden;
  display: block;
  grid-column-start: 1;
  grid-column-end: col2-end;
  -ms-grid-column: 1;
  -ms-grid-column-align: end;
  -ms-grid-row: 2;
  stroke: #F0F0F0;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  text-align: center;
  text-decoration: none;
  font-size: 5rem;
  color: #F0F0F0;
  width: auto;
  margin: 0 auto 1.5rem;
  opacity: 0;
  transform: translate3d(0, 2rem, 0);
  transition: all .5s ease; }
  .scroll i {
    font-style: normal; }
  .scroll span {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); }
  .scroll.bouncy svg {
    animation: 5.5s bouncy infinite;
    animation-delay: 2s; }
  .scroll.fadeIn {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
    .scroll.fadeIn.loadIn {
      opacity: 0;
      animation: onLoadFadeIn 3s forwards;
      animation-delay: 1.3s; }

body > .wrapper > footer,
body > footer {
  background-color: #373331;
  color: #F0F0F0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.7rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem; }

@media screen and (max-width: 767px) {
  .projectWrapper {
    position: relative;
    display: grid;
    display: -ms-grid;
    padding-top: 6.25rem;
    padding-bottom: 2.5rem; }
    .projectWrapper.longHeading {
      padding-top: 10rem; }
    .projectWrapper .mobileProject {
      -ms-grid-row: 1;
      grid-row: 1;
      width: 75%;
      padding: 14% 12% 10%;
      margin-left: auto;
      margin-right: auto; }
    .projectWrapper .browserProject {
      align-self: flex-start; }
    .projectWrapper .grid-p h2 {
      position: absolute;
      top: 1.75rem;
      max-width: 90%; }
    .projectWrapper .grid-p p:last-of-type {
      margin-bottom: 2.5rem; }

  .home main .projectWrapper:not(.projectWrapper-imageFirst) .grid-p {
    grid-row: 2;
    margin-top: 1.5rem; } }
@keyframes menuFlyIn {
  to {
    transform: translate3d(0, 0, 0); } }
@media screen and (min-width: 435px) and (max-width: 650px) {
  .about ul.colour-list {
    columns: 2; } }
@media screen and (min-width: 650px) and (max-width: 768px) {
  .about ul.colour-list {
    columns: 3; } }
@media screen and (min-width: 768px) {
  header {
    height: 7rem;
    padding: 2.5rem; }

  .home main .intro img {
    width: 55%; }

  section {
    align-content: center;
    justify-content: center; }

  .home main .intro img {
    margin-top: 0; }

  .intro, .projectWrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    align-items: center;
    min-height: 50vh; }
    .intro .grid-p, .projectWrapper .grid-p {
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      -ms-flex-direction: column;
      align-content: center;
      justify-content: center;
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-row: 1;
      grid-row: 1; }
      .intro .grid-p + div, .projectWrapper .grid-p + div {
        -ms-grid-column: 2; }
    .intro img, .projectWrapper img {
      -ms-grid-column: 2;
      grid-column: 2;
      -ms-grid-row: 1;
      grid-row: 1;
      width: 90%;
      margin-bottom: 0; }
    .intro.projectWrapper-imageFirst, .projectWrapper.projectWrapper-imageFirst {
      -ms-grid-columns: 45% 50%;
      grid-row-gap: 5%;
      grid-template-columns: 45% 50%; }
      .intro.projectWrapper-imageFirst .grid-p, .projectWrapper.projectWrapper-imageFirst .grid-p {
        -ms-grid-column: 2;
        grid-column-start: 2; }
    .intro .mobileProject, .projectWrapper .mobileProject {
      width: auto; }
      .intro .mobileProject picture, .projectWrapper .mobileProject picture {
        align-self: center;
        max-width: 90%;
        height: auto; }
        .intro .mobileProject picture img, .intro .mobileProject picture source, .projectWrapper .mobileProject picture img, .projectWrapper .mobileProject picture source {
          width: 100%; }

  .intro {
    min-height: 88vh; }

  .projectWrapper {
    min-height: 88vh; }
    .projectWrapper .mobileProject {
      padding: 10vh 4rem 7vh; }
    .projectWrapper.projectWrapper-imageFirst {
      -ms-grid-columns: 50%;
      grid-template-columns: 50%; }
    .projectWrapper span {
      font-size: 2rem; }

  .home main {
    padding-top: 7rem; }
    .home main .intro, .home main .projectWrapper {
      padding-left: 6rem;
      padding-right: 5rem; }
    .home main .projectWrapper {
      padding-top: 6rem;
      padding-bottom: 6rem; }
      .home main .projectWrapper .grid-p span {
        display: block;
        margin-bottom: 2rem; }
        .home main .projectWrapper .grid-p span:first-of-type {
          margin-top: 4rem; }
        .home main .projectWrapper .grid-p span:last-of-type {
          float: none; }
      .home main .projectWrapper .mobileProject {
        padding: 7vh 0 6vh; }
      .home main .projectWrapper:not(.projectWrapper-imageFirst) {
        align-content: right;
        justify-content: right; }
  .home h2 {
    font-size: 3rem;
    font-family: "Zilla Slab", "Adelle", "Georgia", serif;
    font-weight: 600; }
  .home h3 {
    font-size: 2.2rem; }
  .home p {
    font-size: 2.65rem;
    line-height: 165%; }

  .about article, .case-study article {
    margin-top: 5rem; }
    .about article h2, .case-study article h2 {
      font-size: 4rem; }
    .about article p, .about article ul.colour-list, .case-study article p, .case-study article ul.colour-list {
      font-size: 2.1rem;
      line-height: 175%; }
    .about article footer p, .about article .caption, .case-study article footer p, .case-study article .caption {
      font-size: 1.6rem; }
    .about article footer, .case-study article footer {
      margin-bottom: 3rem; }

  .about article h1 {
    font-size: 6rem; }
    .about article h1.post-heading {
      font-size: 5.5rem;
      line-height: 125%; }
  .about article ul.colour-list {
    columns: 3;
    width: 100%;
    margin-left: 0; }
  .about article ul.colours li {
    height: 5rem;
    width: 5rem; }

  footer {
    font-size: 2.2rem; } }
@media screen and (min-width: 768px) {
  .home:not(.ac) main .intro img {
    animation: onLoadFadeIn 3s forwards, onLoadMoveIn_img_large 3s forwards; } }
@media screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .home main .projectWrapper .mobileProject {
    padding-top: 9vh; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home main .intro img {
    width: 75%; } }
@media screen and (min-width: 1024px) {
  .intro, .projectWrapper {
    -ms-grid-column: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0; }

  .about ul.colour-list {
    columns: 4; } }
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .home main .intro img {
    width: 70%; } }
@media screen and (min-width: 1200px) and (max-width: 1370px) {
  .home p {
    font-size: 2.4rem; }
  .home main .intro img {
    width: 60%; } }
@font-face {
  font-family: 'Woodford Bourne';
  src: url(../fonts/woodfordbourne-regular.otf);
  font-weight: normal; }
@font-face {
  font-family: 'Woodford Bourne';
  src: url(../fonts/woodfordbourne-bold.otf);
  font-weight: bold; }
@font-face {
  font-family: 'Woodford Bourne';
  src: url(../fonts/woodfordbourne-regular.otf);
  font-weight: italic; }
@font-face {
  font-family: 'Zilla Slab';
  src: url("../fonts/zilla/woff/ZillaSlab-Regular.woff");
  src: url("../fonts/zilla/woff2/ZillaSlab-Regular.woff2") format("woff2"), url("../fonts/zilla/woff/ZillaSlab-Regular.woff") format("woff"), url("../fonts/zilla/otf/ZillaSlab(-Regular).otf") format("opentype"), url("../fonts/zilla/ttf/ZillaSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Zilla Slab';
  src: url("../fonts/zilla/woff/ZillaSlab-SemiBold.woff");
  src: url("../fonts/zilla/woff2/ZillaSlab-SemiBold.woff2") format("woff2"), url("../fonts/zilla/woff/ZillaSlab-SemiBold.woff") format("woff"), url("../fonts/zilla/otf/ZillaSlab(-SemiBold).otf") format("opentype"), url("../fonts/zilla/ttf/ZillaSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
html, body,
p,
ol, ul, li, dl, dt, dd,
blockquote, figure,
hr,
h1, h2, h3 {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

html {
  box-sizing: border-box;
  font-size: 10px; }

body {
  line-height: 1;
  font-family: "Woodford Bourne", "Futura", "Helvetica", "Arial", sans-serif; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  height: auto;
  max-width: 100%; }

.font-secondary {
  font-family: "Zilla Slab", "Adelle", "Georgia", serif; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F0F0F0;
  margin: 1em 0;
  padding: 0; }

::-moz-selection {
  background: #ff6161;
  color: #1c1a19; }

::selection {
  background: #ff6161;
  color: #1c1a19; }

.home header {
  opacity: 0;
  animation: onLoadFadeIn 3s forwards;
  animation-delay: 1.7s; }
  .home header h1 a,
  .home header span.menu-control-open {
    color: #F0F0F0; }
  .home header span.menu-control-open svg {
    stroke: #F0F0F0; }
  .home header span.menu-control-open:before, .home header span.menu-control-open:after {
    border-top-color: wheat; }

.about header h1 a {
  color: #a7a7a7; }
.about header nav a {
  color: #F0F0F0; }
.about header span.menu-control-open svg {
  stroke: #F57F3F; }
.about header span.menu-control-open:before, .about header span.menu-control-open:after {
  border-top-color: #F57F3F; }
.about header .menu-inner {
  color: #F0F0F0; }

@media screen and (min-width: 640px) {
  .about header nav a {
    color: #a7a7a7; } }
header {
  position: absolute;
  overflow: visible;
  z-index: 100;
  background-color: transparent;
  width: 100%;
  height: 5rem;
  padding: 1.5rem; }
  header h1 {
    position: relative;
    z-index: 1;
    font-size: 3rem;
    float: left; }
  header a {
    text-decoration: none; }

span.menu-control-open,
span.menu-control-close,
nav,
header a {
  font-weight: bold;
  text-transform: uppercase; }

span.menu-control-open,
span.menu-control-close,
nav a {
  font-size: 2.5rem;
  margin-bottom: 1.5rem; }

span.menu-control-close {
  color: #F0F0F0; }

span.menu-control-open,
span.menu-control-close {
  display: block;
  cursor: pointer; }

span.menu-control-open {
  position: relative;
  float: right;
  font-size: 1.2rem;
  line-height: 130%;
  margin-top: 3px; }
  span.menu-control-open svg {
    position: absolute;
    top: -12px;
    left: 12px; }
    span.menu-control-open svg line, span.menu-control-open svg circle {
      fill: none;
      stroke-width: 3; }
  span.menu-control-open:before {
    padding-top: 1px; }
  span.menu-control-open:before, span.menu-control-open:after {
    content: '';
    display: block;
    width: 100%;
    border-top-width: .3rem;
    border-top-style: solid; }

span.menu-control-close {
  font-size: 1.2rem;
  text-align: right; }

nav {
  display: flex;
  flex-direction: column; }
  nav a {
    color: #F0F0F0; }

.menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #373331;
  color: #F0F0F0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  transition: all .3s ease-in-out; }
  .menu a {
    transform: translate3d(-150px, 0, 0);
    transition: transform .15s ease-in; }
  .menu .menu-inner {
    position: relative;
    height: 100%;
    width: 80vw;
    padding: 1.5rem; }
  .menu .version, .menu .madeIn {
    position: absolute;
    bottom: 1.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold; }
  .menu .version {
    right: 1.5rem; }

.menu--active {
  height: 100vh;
  overflow: hidden; }
  .menu--active nav a {
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease-out; }
    .menu--active nav a:nth-child(2) {
      transition-delay: .1s; }
    .menu--active nav a:last-child {
      transition-delay: .2s; }

@media screen and (max-width: 767px) {
  .menu--active .menu {
    width: 80%; } }
@media screen and (min-width: 768px) {
  span.menu-control-open,
  span.menu-control-close {
    display: none; }

  .menu {
    position: static;
    overflow: visible;
    background-color: transparent;
    width: auto;
    height: auto; }
    .menu .menu-inner {
      padding: 0;
      width: 100%; }
    .menu a {
      transform: none;
      transition: none; }

  .home .menu .version,
  .home .menu .madeIn {
    bottom: -85.85vh;
    letter-spacing: 1px;
    font-size: 1.3rem; }

  body:not(.home) .menu .version, body:not(.home) .menu .madeIn {
    display: none; }

  nav {
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end; }
    nav a {
      font-size: 3rem;
      margin-left: 4rem; }

  .about nav a {
    color: #4870CB; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu--active .menu {
    width: 40%; }
    .menu--active .menu .menu-inner {
      width: 40vw; } }
@keyframes bouncy {
  40% {
    transform: translate3d(0, 0, 0); }
  46% {
    transform: translate3d(0, -1.5rem, 0); }
  48% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(0, -0.8rem, 0); }
  52% {
    transform: translate3d(0, 0, 0); }
  53% {
    transform: translate3d(0, -0.3rem, 0); }
  54% {
    transform: translate3d(0, 0, 0); } }
@keyframes onLoadFadeIn {
  15% {
    opacity: 0; }
  45% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes onLoadMoveIn_img_small {
  0% {
    transform: translate3d(0, 2rem, 0); }
  15% {
    transform: translate3d(0, 2rem, 0); }
  45% {
    transform: translate3d(0 0, 0); }
  60% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@keyframes onLoadMoveIn_img_large {
  0% {
    transform: translate3d(-82.5%, 2rem, 0); }
  15% {
    transform: translate3d(-82.5%, 2rem, 0); }
  45% {
    transform: translate3d(-82.5%, 0, 0); }
  60% {
    transform: translate3d(-82.5%, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@keyframes onLoadMoveIn_p {
  0% {
    transform: translate3d(100%, 0, 0); } }
@keyframes onLoadMoveIn_txt {
  0% {
    transform: translate3d(2rem, 0, 0); }
  15% {
    transform: translate3d(-2rem, 0, 0); }
  45% {
    transform: translate3d(0, 0, 0); } }

/*# sourceMappingURL=main.css.map */
