@keyframes bouncy {
    40% {
        transform: translate3d(0,0,0);
    }

    46% {
        transform: translate3d(0,-1.5rem,0);
    }

    48% {
        transform: translate3d(0,0,0);
    }

    50% {
        transform: translate3d(0,-.8rem,0);
    }

    52% {
        transform: translate3d(0,0,0);
    }

    53% {
        transform: translate3d(0,-.3rem,0);
    }

    54% {
        transform: translate3d(0,0,0);
    }
}

@keyframes onLoadFadeIn {
    15% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes onLoadMoveIn_img {
    0% {
        transform: translate3d(-2rem, 0, 0);
    }
    15% {
        transform: translate3d(2rem, 0, 0);
    }

    45% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes onLoadMoveIn_txt {
    0% {
        transform: translate3d(2rem, 0, 0);
    }
    15% {
        transform: translate3d(-2rem, 0, 0);
    }

    45% {
        transform: translate3d(0, 0, 0);
    }
}