// Colours
$primary_teal: #14B4B5;
$primary_orange: #F57F3F;
$primary_black: #373331;
$primary_white: #F0F0F0;

$tertiary_dull_blue: #4870CB;
$tertiary_dull_yellow: #FFC247;
$tertiary_dull_red: #FF4747;

$tertiary_bright_blue: #16C1F3;
$tertiary_bright_yellow: #FFB31C;
$tertiary_bright_red: #FF1C1C;


// Fonts
$primary_font: 'Woodford Bourne', 'Futura', 'Helvetica', 'Arial', sans-serif;

@font-face {
    font-family: 'Woodford Bourne';
    src: url(../fonts/woodfordbourne-regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'Woodford Bourne';
    src: url(../fonts/woodfordbourne-bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Woodford Bourne';
    src: url(../fonts/woodfordbourne-regular.otf);
    font-weight: italic;
}

$secondary_font: 'Aleo', 'Adelle', 'Georgia', serif;

@font-face {
    font-family: 'Aleo';
    src: url(../fonts/aleo-regular-webfont.ttf);
    font-weight: normal;
}

@mixin mixin_title {
    font-weight: bold;
    text-transform: uppercase;
}

@mixin mixin_p {
    font-family: $primary_font;
}

// Resets
html,body,
p,
ol,ul,li,dl,dt,dd,
blockquote,figure,
hr,
h1,h2,h3 {
    margin: 0;
    padding: 0
}

h1,h2,h3 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    line-height:1;
    font-family: $primary_font;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

img {
    height: auto;
    max-width: 100%
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid $primary_white;
    margin:1em 0;
    padding:0;
}

::-moz-selection {
    background: lighten($tertiary_dull_red, 5%);
    color: $primary_black;
}
::selection {
    background: lighten($tertiary_dull_red, 5%);
    color: $primary_black;
}