@import 'basics.scss';

$padding_standard: 3.2rem;
$font_large_standard: 2.4rem;

@mixin wrap_padding {
    padding-left: $padding_standard;
    padding-right: $padding_standard;
}

@mixin full_padding {
    padding-top: $padding_standard;
    padding-bottom: $padding_standard;
    @include wrap_padding;
}

// Home
.home {
    position: relative;
    h1 {
        @include mixin_h1;
    }

    p {
        @include mixin_p;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;

        font-size: 3.2rem;

        height: 100px;
        width: 100%;
        @include full_padding;
        
        a {
            color: $primary_white;
            text-decoration: none;
            @include mixin_h1;
        }

        nav a {
            margin-left: 8.5rem;
        }
    }

    main {
        height: 100vh;
        width: 100%;
        background-color: $primary_teal;
        color: $primary_white;
        padding-top: 100px;
    }
}