$padding_nav_large: 1.56rem;
$padding_nav_small: .75rem;

// // content pages
// body {
	
// 	padding-top: $padding_body;
// 	@include breakpointAbove(md) {
// 		padding-top: 5rem;
// 	}
// 	> header {
// 		@include upperCase();
// 		box-sizing: border-box;
// 		position: absolute;
// 		top: 0;
// 		overflow: visible;
// 		z-index: 100;

// 		background-color: transparent;
		
// 		width: 100%;
// 		height: 5rem;
// 		padding: $padding_nav_small;
		
// 		@include breakpointAbove(md) {
// 			padding-left: $padding_nav_large;
// 			padding-right: $padding_nav_large;
// 		}
		
// 		a {
// 			text-decoration: none;
// 		}

// 		h1 {
// 			position: relative;
// 			z-index: 1;
// 			float: left;
// 			font-size: $font_header_logo_small;
// 			line-height: 100%;
// 			letter-spacing: 0.3px;
// 			margin: 0;
// 			a {
// 				color: $color_secondary_grey;
// 			}
// 		}

// 		.menu {
			
// 			@include breakpointBelow(md) {
// 				position: absolute;
// 				right: 0;
// 				top: 0;
// 				z-index: 1;
// 				height: 100vh;
// 				width: 0;
// 				overflow: hidden;
// 				transition: all .45s ease-in-out;
// 			}
			
// 			.menu-inner {
// 				box-sizing: border-box;
				
// 				position: relative;
// 				float: right;
// 				height: 100%;
// 				width: 80vw;
// 				padding: $pad_body_small;
// 				overflow: hidden;
// 				background-color: $color_primary_black;
// 				color: $color_primary_white;  

// 				@include breakpointAbove(md) {
// 					position: static;
// 					overflow: visible;
// 					background: none;
// 					color: $color_secondary_dull_blue;
// 					height: auto;
// 					width: auto;
// 					padding: 0;
// 					width: 100%;
// 				}
// 			}

// 			.version, .madeIn {
// 				position: absolute;
// 				bottom: $pad_body_small;
// 				font-size: $font_header_nav_small;
// 				text-transform: uppercase;
// 				font-weight: bold;
// 				letter-spacing: .3px;
// 			}

// 			.version {
// 				right: $margin_body_small;
// 			}
// 		}

		
// 		nav {
// 			display: flex;
// 			flex-direction: column;
// 			@include breakpointAbove(md) {
// 				flex-direction: row;
// 				align-content: flex-end;
// 				justify-content: flex-end;
// 			}
// 			a {
// 				@include breakpointBelow(md) {

// 					transform: translate3d(-150px,0,0);
// 					transition: transform .475s ease-in;
// 					font-size: $font_header_nav_large;
// 					color: $color_primary_white;
// 					margin-bottom: $margin_body_small;
// 				}
// 				font-weight: bold;
// 				@include breakpointAbove(md) {
// 					color: $color_secondary_grey;
// 					font-size: $font_header_nav_large;
// 					font-size: $font_header_logo_small;
// 					line-height: 150%;
// 					margin-left: $margin_body_small;
					
// 					// Turn off
// 					margin-bottom: 0;
// 					transform: none;
// 					transition: none;
// 				}
// 			}
// 		}
// 	}
	
// 	> header {
// 		@include breakpointAbove(md) {
// 			display: flex;
// 			align-items: center;
// 			justify-content: space-between;
// 		}
// 	}
	
// 	&.home {
// 		padding-top: 0;
// 		> header {
// 			h1 a, nav a, .menu-control-open {
// 				color: $color_primary_white;
// 			}
// 		}
// 	}
// }

// @include breakpointBelow(md) {
// 	body.menu--active > header {
// 		height: 100vh;
// 		overflow: hidden;
// 		.menu {
// 			width: 100%;
// 		}
// 		nav {
// 			a {
// 				transform: translate3d(0,0,0);
// 				transition: transform .5s ease-out;
// 				&:nth-child(2) {
// 					transition-delay: .1s;
// 				}
// 				&:last-child {
// 					transition-delay: .2s;
// 				}
// 			}
// 		}
// 	}
// }

// .menu-control-open, .menu-control-close {
// 	display: block;
// 	font-size: $font_header_nav_small;
// 	cursor: pointer;
// }

// .menu-control-open {
// 	position: relative;
//     float: right;
//     line-height: 130%;
// 	margin-top: 3px;
// 	font-size: $font_header_nav_small;
// 	letter-spacing: 1px;
//     svg {
// 		position: absolute;
//         top: -12px;
//         left: 14px;
// 		stroke: $color_primary_orange;						
//         line, circle {
//             fill: none;
//             stroke-width: 3;
// 		}
//     }
//     &:before {
// 		padding-top: 1px;
//     }
//     &:before, &:after {
// 		content: '';
//         display: block;
//         width: 100%;
//         border-top-width: .1875rem;
//         border-top-style: solid;
//     }
// }

// .home .menu-control-open {
// 	&:before, &:after {
// 		border-top-color: wheat;
// 	}
// 	svg {
// 		stroke: wheat;	
// 	}

// }

// .content .menu-control-open {
// 	&:before, &:after {
// 		border-top-color: $color_primary_orange;
// 	}
// 	svg {
// 		stroke: $color_primary_orange;	
// 	}
// }

// .menu-control-close {
// 	text-align: right;
// 	margin-bottom: $margin_body_small;
// }

// // Turn off non-mobile nav/menu elements
// @include breakpointAbove(md) {
// 	.menu-control-open, .menu-control-close, body:not(.home) .version, body:not(.home) .madeIn {
// 		display: none;
// 	}

// 	body.home > header {
// 		.menu {
// 			position: static;
// 			.menu-inner{
// 				position: relative;
// 				width: 100%;
// 			}
// 		}
// 		.version, .madeIn {
// 			bottom: -85.85vh;
// 			letter-spacing: 1px;
// 			font-size: 1.3rem;
// 			color: $color_primary_white;
// 		}

// 		.version {

// 		}

// 		.madeIn {

// 		}
// 	}
// }

// // CodePen working nav code //

/* START OF USEFUL CODE */
header {
	h1 {
	  font-size: 2.65rem;
	  float: left; 
	}
  }
  
  
  // This media query styles the menu for a large environment (think a desktop)
  @media screen and (min-width: 1024px) {
	header {
	  
	  span.menu-control-open,
	  span.menu-control-close {
		display: none; 
	  }
	}
  }

// //	//	//	//	//	//	//	//

// // // Home to fix
// // header {
// //     position: absolute;
// //     overflow: visible;
// //     z-index: 100;

// //     background-color: transparent;
    
// //     width: 100%;
// //     height: 5rem;
// //     padding: 1rem;
// //     h1 {
// //         position: relative;
// //         z-index: 1;
// //         font-size: 3rem;
// //         float: left;
// //     }

// //     a {
// //         text-decoration: none;   
// //     }
// // }

// // nav {
// //     display: flex;
// //     flex-direction: column;
// //     a {
// //         color: $color_primary_white;
// //     }
// // }


// // @media screen and (max-width: 767px) {
// //     .menu {
// //         transition: all .3s ease-in-out;
// //         // .dribbble {
// //         //     background: url('../images/dribbble-logo.png') 0 0 no-repeat;
// //         //     background-size: 24px 24px;
// //         //     padding-left: 3.5rem;
// //         // }
// //         // .codepen {
// //         //     background: url('../images/codepen-logo.png') 0 0 no-repeat;
// //         //     background-size: 24px 24px;
// //         //     padding-left: 3.5rem;
// //         // }
// //     }

// //     .menu--active {
// //         .menu {
// //             width: 80%;
// //         }
// //     }
// // }
    
// // @media screen and (min-width: 768px) {
// //     header {
// //         height: 7rem;
// //     }

// //     .menu {
// //         position: static;
// //         overflow: visible;
// //         background-color: transparent;
// //         width: auto;
// //         height: auto;
        
// //         .menu-inner {
// //             padding: 0;
// //             width: 100%;
// //         }
        
// //         a {
// //             transform: none;
// //             transition: none;
// //         }
// //     }

// //     .home .menu {
// //         .version,
// //         .madeIn {
// //             bottom: -85.85vh;
           
// //         }
// //     }

// //     nav {
// //         flex-direction: row;
// //         align-content: flex-end;
// //         justify-content: flex-end;
       
// //     }

// // }


// // @media screen and (min-width: 768px) and (max-width: 1024px) {
// //     .menu--active {   
// //         .menu {
// //             width: 40%;
// //             .menu-inner {
// //                 width: 40vw;
// //             }
// //         }
// //     }
// // }

