// Colours
$primary_teal: #14B4B5;
$primary_orange: #F57F3F;
$primary_black: #373331;
$primary_white: #F0F0F0;

$primary_grey: #a7a7a7;

$tertiary_dull_blue: #4870CB;
$tertiary_dull_yellow: #FFC247;
$tertiary_dull_red: #FF4747;

$tertiary_bright_blue: #16C1F3;
$tertiary_bright_yellow: #FFB31C;
$tertiary_bright_red: #FF1C1C;

@mixin mixin_title {
    font-weight: bold;
    text-transform: uppercase;
}

@mixin mixin_p {
    font-family: $primary_font;
}