@import 'basics.scss'; // REMOVE BEFORE COMPLETE

$padding_smallest: 1.5rem;
$padding_standard: 3.2rem;

$margin_smallest: 1.5rem;

$font_smallest_header: 2.2rem;
$font_smallest_menuSpan: 1.2rem;
$font_smallest_p: 1.9rem;
$font_smallest_footNote: 1.2rem;
$font_smallest_footer: 1.7rem;
$font_large_standard: 2.4rem;

@mixin wrap_padding {
    padding-left: $padding_standard;
    padding-right: $padding_standard;
}

@mixin full_padding {
    padding-top: $padding_standard;
    padding-bottom: $padding_standard;
    @include wrap_padding;
}

body {
    letter-spacing: 0.03rem;
    width: 100%;
}

.wrapper {
    overflow: hidden;
}

// Home
.home {
    position: relative;
    h1 {
        @include mixin_title;
    }

    p {
        @include mixin_p;
        font-size: $font_smallest_p;
        line-height: 150%;
        margin-bottom: $margin_smallest * 2;
    }

    main {
       background-color: $primary_teal;
       color: $primary_white;
       padding-top: 6rem;
       .intro {
           img {
               display: block;
               width: 55%;
               margin: 0 auto 1.5rem;
           }
       }
    }
}

header {
    position: absolute;
    overflow: hidden;

    background-color: transparent;
    
    width: 100%;
    padding: $padding_smallest;
    h1 {
        font-size: $font_smallest_header;
        float: left;
    }

    a {
        text-decoration: none;
        
    }
    
    span.menu-control-open, 
    span.menu-control-close,
    nav, 
    a {
        @include mixin_title;
        color: $primary_white;
    }

    span.menu-control-open, 
    span.menu-control-close,
    nav a { 
        font-size: $font_smallest_header;
        margin-bottom: $margin_smallest;
    }
    
    span.menu-control-open {
        font-size: $font_smallest_menuSpan;
        line-height: 150%;
        float: right;
    }

    span.menu-control-open,
    span.menu-control-close {
        display: block;
        cursor: pointer;
    }

    nav {
        display: flex;
        flex-direction: column;
    }
}

.menu {
    position: relative;
    height: 100vh;
    width: 80%;

    background-color: $primary_orange;
    color: $primary_white;  

    padding: $padding_smallest;
    margin-top: -$margin_smallest;
    
    transform: translate3d(135%, 0, 0);
    transition: transform .3s ease;

    .version, .madeIn {
        position: absolute;
        bottom: $margin_smallest;
        font-size: $font_smallest_footNote;
    }

    .madeIn {
        right: $margin_smallest;
    }
}

.menu--active {
    height: 100vh;
    overflow: hidden;
    .menu {
        transform: translate3d(35%,0,0);
    }
}

main {
    padding-left: $padding_smallest;
    padding-right: $padding_smallest;
    section {
        min-height: 100vh;
    }
}

.scroll {
    display: block;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

footer {
    background-color: $primary_black;
    color: $primary_white;
    text-align: center;
    @include mixin_title;
    font-size: $font_smallest_footer;
    padding-top: $padding_standard;
    padding-bottom: $padding_standard;
}