$padding_small: 2.5rem;
$padding_smallest: 4rem;
$margin_small: 4rem;
$margin_smallest: 4rem;

$font_small_header          : 2.65rem;
$font_smallest_header       : 2.2rem;
$font_smallest_menuSpan     : 1.2rem;
$font_small_p               : 2.65rem;
$font_smallest_p            : 1.9rem;
$font_small_projectFootNote : 2rem;
$font_small_footNote        : 1.3rem;
$font_smallest_footNote     : 1.2rem;
$font_small_footer          : 2.2rem;
$font_smallest_footer       : 1.7rem;

$font_small_p_lineHeight: 165%;
$font_small_footNote_letterSpacing: 1px;

$grid_template_p_col: 55rem;
$grid_template_img_col: 50%;

@media screen and (min-width: 435px) and (max-width: 650px) {
     .about ul.colour-list {
        columns: 2;
    }
}

@media screen and (min-width: 650px) and (max-width: 768px) {
     .about ul.colour-list {
        columns: 3;
    }
}

@media screen and (min-width: 768px) {
    .home main .intro  img {
        margin-top: 0;
    }
    .intro, .projectWrapper {
        display: grid;
        grid-template-columns: 50% 45%;
        grid-gap: 5%;
        align-items: center;
        min-height: 50vh;
        .grid-p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-column: 1;
            grid-row: 1;
        }
        img {
            grid-column: 2;
            grid-row: 1;

            width: 90%;
            margin-bottom: 0;
        }
        &.projectWrapper-imageFirst {
            grid-template-columns: 45% 50%;

            .grid-p {
                grid-column-start: 2;
            }

        }

        .mobileProject  {
            width: auto;
            picture {
                width: 90%;
                height: auto;
                img, source {
                    width: 100%;
                }
            }
        }
    }

    .home {
        main {
            padding-top: 7rem;
            .intro, .projectWrapper {
                padding-left: $padding_smallest + 2;
                padding-right: $padding_smallest + 1;
                // Here for overrides
                
            }
            .projectWrapper {
                padding-top: 6rem;
                padding-bottom: 6rem;
                
                .grid-p {
                    span {
                        display: block;
                        margin-bottom: $margin_smallest/2;
                        &:first-of-type {
                            margin-top: $margin_smallest;
                        }
                        &:last-of-type {
                            float: none;
                        }
                    }
                }
                
                .mobileProject {
                    padding: 8vh 0;
                }
                
                &:not(.projectWrapper-imageFirst) {
                    justify-content: right;
                }
            }
        }
    }

    .about ul.colour-list {
        columns: 3;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .menu--active {   
        .menu {
            width: 40%;
            .menu-inner {
                width: 40vw;
            }
        }
    }

    .home main .intro  img {
        width: 75%;
    }
}

@media screen and (min-width: 1024px) {
    header {
        height: 7rem;
        padding: $padding_small;
    }

    span.menu-control-open, 
    span.menu-control-close {
        display: none;
    }

    .menu {
        position: static;
        overflow: visible;
        background-color: transparent;
        width: auto;
        height: auto;
        
        .menu-inner {
            padding: 0;
            width: 100%;
        }
        
        a {
            transform: none;
            transition: none;
        }
    }

    .home .menu {
        .version,
        .madeIn {
            bottom: -90.85vh;
            letter-spacing: $font_small_footNote_letterSpacing;
            font-size: $font_small_footNote;
        }
    }

    body:not(.home) .menu {
        .version, .madeIn {
            display: none;
        }
    }

    nav {
        flex-direction: row;
        justify-content: flex-end;
        a {
            font-size: $font_small_header;
            margin-left: $margin_smallest;
        }
    }

    .about nav a {
        color: $primary_black;
    }

    .home main .intro img {
        width: 55%;
    }

    section {
        justify-content: center;
    }
    
    .intro, .projectWrapper {
        grid-template-columns: 50% 50%;// 50/50 correct formatting for grid
        grid-template-rows: 1fr;
        grid-gap: 0;
    }
    
    .intro {
        min-height: 93vh;
    }
    .projectWrapper {
        min-height: 100vh;
        .mobileProject {
            padding: 10vh 4rem 7vh;
        }

        &.projectWrapper-imageFirst {
            grid-template-columns: $grid_template_img_col;// 50% each
        }

        span {
            font-size: $font_small_projectFootNote;
        }
    }

    .home {
        h1, h2 {
            font-size: $font_small_header;
        }
        h3 {
            font-size: $font_smallest_header;
        }
        p {
            font-size: $font_small_p;
            line-height: $font_small_p_lineHeight;
        }
    }

    .about {
        article {
            margin-top: 5rem;
            h1 {
                font-size: 6rem;
            }

            h2 {
                font-size: 4rem;
            }
            
            p, ul.colour-list {
                font-size: 2rem;
                line-height: 175%;
            }

            ul.colour-list {
                columns: 4;
                width: 120%;
                margin-left: -1.5rem;
            }

            footer p, .caption {
                font-size: 1.6rem;
            }

            footer {
                margin-bottom: 3rem;
            }

            ul.colours li {
                height: 5rem;
                width: 5rem;
            }
        }
    }

    footer {
        font-size: $font_small_footer;
    }
}