$padding_smallest: 1.5rem;
$padding_standard: 3.2rem;

$margin_smallest: 1.5rem;

$font_smallest_logo: 3rem;
$font_smallest_header: 2.2rem;
$font_smallest_menuSpan: 1.2rem;
$font_smallest_p: 1.9rem;
$font_smallest_footNote: 1.2rem;
$font_smallest_footer: 1.7rem;
$font_large_standard: 2.4rem;

@mixin wrap_padding {
    padding-left: $padding_standard;
    padding-right: $padding_standard;
}

@mixin full_padding {
    padding-top: $padding_standard;
    padding-bottom: $padding_standard;
    @include wrap_padding;
}

body {
    letter-spacing: 0.03rem;
    width: 100%;
    background-color: red;
}

.wrapper {
    overflow: hidden;
}

// Home
.home {
    position: relative;
    h1 {
        @include mixin_title;
    }

    p {
        font-size: $font_smallest_p;
        line-height: 150%;
        margin-bottom: $margin_smallest;
    }

    main {
       background-color: $primary_teal;
       color: $primary_white;
       padding-top: 5rem;
       .intro {
           padding-left: $padding_smallest;
           padding-right: $padding_smallest;
           img {
               display: block;
               width: 65%;
               margin: 1rem auto 1.5rem;
           }
       }
    }
}

header {
    position: absolute;
    overflow: visible;
    z-index: 100;

    background-color: transparent;
    
    width: 100%;
    height: 5rem;
    padding: $padding_smallest;
    h1 {
        font-size: $font_smallest_logo;
        float: left;
    }

    a {
        text-decoration: none;
        
    }
    
    span.menu-control-open, 
    span.menu-control-close,
    nav, 
    a {
        @include mixin_title;
        color: $primary_white;
    }

    span.menu-control-open, 
    span.menu-control-close,
    nav a { 
        font-size: $font_smallest_header;
        margin-bottom: $margin_smallest;
    }

    span.menu-control-open,
    span.menu-control-close {
        display: block;
        cursor: pointer;
    }
    
    span.menu-control-open {
        position: relative;
        float: right;
        font-size: $font_smallest_menuSpan;
        line-height: 130%;
        margin-top: 3px;
        svg {
            position: absolute;
            top: -12px;
            left: 12px;
            line, circle {
                fill: none;
                stroke: $primary_white;
                stroke-width: 3;
            }
        }
        &:before {
            padding-top: 1px;
        }
        &:before, &:after {
            content: '';
            display: block;
            width: 100%;
            border-top: 3px solid wheat;
        }
    }

   span.menu-control-close {
       font-size: $font_smallest_menuSpan;
       text-align: right;
   }

    nav {
        display: flex;
        flex-direction: column;
    }
}

.menu {
    position: absolute;
    right: 0;
    top: 0;

    background-color: $primary_black;
    color: $primary_white;  

    height: 100vh;
    width: 0;
    overflow: hidden;
    
    transition: all .3s ease-in-out;

    a {
        transform: translate3d(-150px,0,0);
        transition: transform .15s ease-in;
    }
    
    .menu-inner {
        position: relative;
        height: 100%;
        width: 80vw;
        padding: $padding_smallest;
    }

    .version, .madeIn {
        position: absolute;
        bottom: $margin_smallest;
        font-size: $font_smallest_footNote;
        text-transform: uppercase;
        font-weight: bold;
    }

    .version {
        right: $margin_smallest;
    }
}

.menu--active {
    height: 100vh;
    overflow: hidden;

    nav {
        a {
            transform: translate3d(0,0,0);
            transition: transform 500ms ease-out;
            // animation-duration: .4s;
            // animation-name: menuFlyIn;
            // animation-fill-mode: forwards;
            &:first-child {
                transition-delay: .2s;
            }
            &:nth-child(2) {
                transition-delay: .3s;
            }
            &:last-child {
                transition-delay: .4s;
            }
        }
    }
}

.projectWrapper {
    min-height: 100vh;
    padding: $padding_smallest;
    

    h2 {
        font-size: $font_smallest_header;
        line-height: 130%;
    }

    h2, .mobileProject {
        margin-bottom: $margin_smallest;
    }

    .mobileProject {
        display: flex;
        justify-content: center;

        background: url('../images/phone.svg') no-repeat center 0;
        width: 72vw;
        margin: 0 auto $margin_smallest;
        padding: 10vh 4rem 7vh;
        picture {
            overflow: hidden;
            img {
                border: 2px solid $primary_white;
                border-radius: 2px;
            }
        }

        img, source {
            max-width: 100%;
        }
    }

    .browserProject {
        position: relative;
        padding-top: 10px;
        width: 80%;
        border: 3px solid $primary_white;
        border-radius: 6px;
        margin: 0 auto;
        .dots {
            margin-bottom: 10px;
        }
        .dot {
            display: inline-block;
            height: 12px;
            width: 12px;
            border-width: 3px;
            border-style: solid;
            border-radius: 50%;
            margin-left: 5px;
            &:first-child {
                border-color: $tertiary_bright_red;
            }

            &:nth-child(2) {
                border-color: $tertiary_bright_yellow;
            }

            &:last-child {
                border-color: $primary_teal;
            }
        }
        picture {
            overflow: hidden;
            img {
                vertical-align: middle;
                width: 100%;
                border-top: 3px solid $primary_white;
            }
        }
    }

    span {
        font-size: $font_smallest_footNote;
        &:last-of-type {
            float: right;
        }
    }
    
    &.blue {
        background-color: $tertiary_dull_blue;
    }

    &.orange {
        background-color: $primary_orange;
    }
}

.scroll {
    position: relative;
    overflow: hidden;
    
    display: block;
    grid-column-start: 1;
    grid-column-end: col2-end;

    stroke: $primary_white;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;

    text-align: center;
    text-decoration: none;
    font-size: $font_smallest_header * 2;
    color: $primary_white;
    width: auto;
    margin: 0 auto $margin_smallest;
    i {
        font-style: normal;
    }
    span {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
    }
}

footer {
    background-color: $primary_black;
    color: $primary_white;
    text-align: center;
    @include mixin_title;
    font-size: $font_smallest_footer;
    padding-top: $padding_standard;
    padding-bottom: $padding_standard;
}

@media screen and (max-width: 767px) {
    .menu--active {
        .menu {
            width: 80%;
        }
    }
    .projectWrapper {
        position: relative;
        display: grid;
        padding-top: 6.25rem;
        padding-bottom: 2.5rem;
        &.longHeading {
            padding-top: 10rem;
        }

        .mobileProject {
            grid-row: 1;
            width: 75%;
            padding: 14% 12% 10%;
            margin-left: auto;
            margin-right: auto;
        }

        .browserProject {
            align-self: flex-start;
        }
        .grid-p { 
            h2 {
                position: absolute;
                top: 1.75rem;
            }
            p:last-of-type {
                margin-bottom: 2.5rem;
            }
        }
    }
}

// Animation
@keyframes menuFlyIn {
    to {
        transform: translate3d(0,0,0);
    }
}