@import 'basics.scss'; // REMOVE BEFORE COMPLETE

$padding_smallest: 1.5rem;
$padding_standard: 3.2rem;

$margin_smallest: 1.5rem;

$font_smallest_header: 2.2rem;
$font_smallest_menuSpan: 1.2rem;
$font_smallest_p: 1.9rem;
$font_smallest_footNote: 1.2rem;
$font_smallest_footer: 1.7rem;
$font_large_standard: 2.4rem;

@mixin wrap_padding {
    padding-left: $padding_standard;
    padding-right: $padding_standard;
}

@mixin full_padding {
    padding-top: $padding_standard;
    padding-bottom: $padding_standard;
    @include wrap_padding;
}

body {
    letter-spacing: 0.03rem;
    width: 100%;
}

.wrapper {
    overflow: hidden;
}

// Home
.home {
    position: relative;
    h1 {
        @include mixin_title;
    }

    p {
        @include mixin_p;
        font-size: $font_smallest_p;
        line-height: 150%;
        margin-bottom: $margin_smallest;
    }

    main {
       background-color: $primary_teal;
       color: $primary_white;
       padding-top: 5rem;
       .intro {
           padding-left: $padding_smallest;
           padding-right: $padding_smallest;
           img {
               display: block;
               width: 55%;
               margin: 0 auto 1.5rem;
           }
       }
    }
}

header {
    position: absolute;
    overflow: visible;

    background-color: transparent;
    
    width: 100%;
    height: 5rem;
    padding: $padding_smallest;
    h1 {
        font-size: $font_smallest_header;
        float: left;
    }

    a {
        text-decoration: none;
        
    }
    
    span.menu-control-open, 
    span.menu-control-close,
    nav, 
    a {
        @include mixin_title;
        color: $primary_white;
    }

    span.menu-control-open, 
    span.menu-control-close,
    nav a { 
        font-size: $font_smallest_header;
        margin-bottom: $margin_smallest;
    }

    span.menu-control-open,
    span.menu-control-close {
        display: block;
        cursor: pointer;
    }
    
    span.menu-control-open {
        font-size: $font_smallest_menuSpan;
        line-height: 150%;
        float: right;
    }

   span.menu-control-close {
       font-size: $font_smallest_menuSpan;
       text-align: right;
   }

    nav {
        display: flex;
        flex-direction: column;
    }
}

.menu {
    position: absolute;
    right: 0;
    top: 0;

    background-color: $primary_black;
    color: $primary_white;  

    height: 100vh;
    width: 0;
    overflow: hidden;
    
    transition: all .3s ease;
    
    .menu-inner {
        position: relative;
        height: 100%;
        width: 80vw;
        padding: $padding_smallest;
    }

    .version, .madeIn {
        position: absolute;
        bottom: $margin_smallest;
        font-size: $font_smallest_footNote;
    }

    .version {
        right: $margin_smallest;
    }
}

.menu--active {
    height: 100vh;
    overflow: hidden;
    
    .menu {
        width: 80%;
    }
}

main {
    section {
        .projectWrapper {
            min-height: 100vh;
            padding: $padding_smallest;
            

            h2 {
                font-size: $font_smallest_header;
                line-height: 130%;
            }

            h2, .mobileProject {
                margin-bottom: $margin_smallest;
            }

            .mobileProject {
                display: flex;
                background: url('../images/phone.svg') no-repeat 0 0;
                background-size: cover;
                height: 82vh;
                width: 72vw;
                margin: 0 auto $margin_smallest;
                padding: 10vh 1rem 7vh;
                picture {
                    border: 2px solid $primary_white;
                }

                img, source {
                    width: 100%;
                    height: 100%;
                }
            }

            span {
                font-size: $font_smallest_footNote;
                &:last-of-type {
                    float: right;
                }
            }
            
            &.blue {
                background-color: $tertiary_dull_blue;
            }

            &.orange {
                background-color: $primary_orange;
            }
        }
    }
}

.scroll {
    display: block;
    text-align: center;
    width: 50%;
    margin: 0 auto $margin_smallest;
}

footer {
    background-color: $primary_black;
    color: $primary_white;
    text-align: center;
    @include mixin_title;
    font-size: $font_smallest_footer;
    padding-top: $padding_standard;
    padding-bottom: $padding_standard;
}