/* line 1, ../scss/style.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 10, ../scss/style.scss */
body {
  background-color: black;
  background: url("../../static.gif");
}

/* line 15, ../scss/style.scss */
span {
  color: white;
}

/* line 19, ../scss/style.scss */
.container {
  margin: 0 auto;
  width: 800px;
}

/* line 24, ../scss/style.scss */
.base {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

/* line 31, ../scss/style.scss */
.svgClip {
  position: absolute;
  left: 0px;
  top: 120px;
  /*
  To calculate with a Sass variable you need to use string interpolation - I.E. Replacing a variable/placeholder with the value - https://en.wikipedia.org/wiki/String_interpolation
  */
  clip: rect(0px, calc(600px/2), calc(600px/2), 0px);
  transform: rotate3d(0, 0, 1, 45deg);
}
/* line 41, ../scss/style.scss */
.svgClip rect {
  stroke-width: 30;
  fill: none;
  height: 100%;
  width: 100%;
}
/* line 48, ../scss/style.scss */
.svgClip circle:not(.ping) {
  stroke: #00ff80;
  stroke-width: 3;
  fill: none;
}
/* line 55, ../scss/style.scss */
.svgClip .ping {
  fill: url(#ping-bg);
  stroke: none;
}

/* line 61, ../scss/style.scss */
svg {
  display: block;
  height: 600px;
  width: 600px;
  margin: 0 auto;
}
/* line 67, ../scss/style.scss */
svg circle.stroked {
  opacity: .75;
}
/* line 69, ../scss/style.scss */
svg circle.stroked.five-metre {
  stroke-dasharray: 20;
  stroke-dashoffset: 16;
}
/* line 74, ../scss/style.scss */
svg circle.stroked.ten-metre {
  stroke-dasharray: 20;
  stroke-dashoffset: 21.2;
}
/* line 79, ../scss/style.scss */
svg circle.stroked.fifteen-metre {
  stroke-dasharray: 20;
  stroke-dashoffset: 6.5;
}
/* line 85, ../scss/style.scss */
svg .directional-line {
  stroke: #00ff80;
  stroke-width: 2;
}
/* line 88, ../scss/style.scss */
svg .directional-line.side {
  opacity: .5;
}
/* line 91, ../scss/style.scss */
svg .directional-line.forward {
  opacity: .75;
}

/* line 97, ../scss/style.scss */
.containing-lines {
  transform: rotate3d(0, 0, 1, 45deg);
}
/* line 99, ../scss/style.scss */
.containing-lines .container-line {
  stroke: #6defa1;
  stroke-width: 5;
}

/* line 105, ../scss/style.scss */
.directional-indicators {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 109, ../scss/style.scss */
.directional-indicators path {
  stroke: #004b26;
  stroke-width: 30;
  fill: none;
}

/* line 116, ../scss/style.scss */
.side-detect {
  stroke: #00ff80;
}

/* line 120, ../scss/style.scss */
.objective {
  height: 100%;
  width: 100%;
  stroke-dasharray: 190 2220;
  stroke-dashoffset: -190;
  stroke-width: 40;
  stroke: #00ff80;
  fill: none;
}

/* line 130, ../scss/style.scss */
.objective-cover {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  fill: none;
}

@media screen and (max-width: 600px) {
  /* line 138, ../scss/style.scss */
  .base, svg {
    width: 300px;
    height: 300px;
  }

  /* line 143, ../scss/style.scss */
  .svgClip {
    top: 60px;
    clip: rect(0px, calc(300px/2), calc(300px/2), 0px);
  }
}
