@import url("https://use.typekit.net/ecx4ayt.css");

body {
    font-family: 'acumin-pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2.8rem; // 28px
}

h2 {
    font-size: 1.8rem; // 18px
}

p {
    font-size: 1rem; // 10px
}